# Created by .ignore support plugin (hsz.mobi)
.classpath
.project
.settings
bin
.idea/
*.iml
/logs/
.idea
*.iml
*.class
SDocker/classes/*
SDocker/deploy/*
*/buildlib/*
.DS_Store
*/.DS_Store
SDockerCore/bin/*
*.iml
