
.metadata/*
Connectors/MongoDBConnector/bin/*

RemoteSystemsTempFiles/*

*.class

Connectors/MongoDBConnector/buildlib/deploy/*

*.log

Projects/ContentDistribution/Distribution/data/**
Projects/ContentDistribution/Task/data/**

Projects/ContentDistribution/Distribution/war/WEB-INF/lib/scriptcore_intellij.jar

**/buildlib/deploy
**/buildlib/local